<style>
    .desc {
        width: 50%;
        margin-left: 20px;
        display: inline-block;
    }

    .preview-wrapper {
        display: inline-block;
        margin: 0;
    }
    .data-wrapper {
        background-color: inherit;
    }

    .thumbnail {
        width: 200px;
        margin: 10px;
        display: inline-block;
        margin-left: 50px;
    }
    
	img {
		display: block;
		width: 100%;
	}
    .button {
        display: block;
        margin-left: 50px;
        margin-bottom: 20px;
        text-decoration: none;
        margin-bottom: 2vh;

    }
    a,
    a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: purple;
    }
    .wrap {
        border: 2px;
       width: 700px;
        border-style: solid;
        margin: 10px 10px;
        border-radius: 6px;
        height: auto;
    }
    .head-wrap {
        display: inline-block;
    }

    h1, h4 {
        margin-left: 50px;
    }
</style>

<div class="container">
    <div class="data-wrapper col-lg-12">
        <div class="preview-wrapper">
                <div class="desc">
            {% for page in site.pages %} {% if page.path contains 'en/data' %}
            <div class="wrap">
                <div class="head-wrap">
                    <div class="thumbnail">
                        <img src="{{ page.img }}" />
                    </div>
                    <h1>{{ page. contentTitle.en }}</h1>
                </div>
                    <h4>{{ page.description.en }}</h4>
                    <button class="button">
                        <a href="{{ site.baseurl }}{{ page.url }}">View Data</a>
                    </button>
                    </div>
                    {% endif %} {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>
